.text-block {
  margin: 0; /* Remove excessive margins */
  max-width: none; /* Allow text to fit naturally */
  font-family: monospace;
  font-size: clamp(14px, 1.25rem, 32px); /* Adjust font size to match navbar */
  color: black;
}

.char {
  will-change: transform;
  display: inline-block;
}
